<% if(taskList && taskList.length) {%>
<ul class="list">
  <span class="list__item-text">Get: </span>
  <% taskList.forEach(function ({ task }) {%>
  <li>
    <div class="list__item">
      <div class="checkbox"></div>
      <span style="margin-left: 10px"><%= task %></span>
      <!-- <input id="done" name="done" type="checkbox" class="checkbox" />
      <label for="done">< %= task %></label> -->
    </div>
  </li>
  <%})%>
</ul>
<%} else {%>
<h3 class="no-tasks">There is no tasks.</h3>
<%}%>
