<!-- should move the task list into a partial -->

<ul class="list">
  <li class="list__item">
    <div></div>
    <% if(taskList && taskList.length) {%>
    <ul>
      <% taskList.forEach(function ({ task }) {%>
      <li><%= task %></li>
      <%})%>
    </ul>
    <%} else {%>
    <h3 class="no-tasks">There is no tasks.</h3>
    <%}%>
  </li>
</ul>
