<!-- should move the task list into a partial -->

<ul class="list">
  <li class="list__item">
    <div class="checkbox"></div>
    <span class="list__item-text">Get</span>
    <!-- < % taskList.forEach(function (item, key) { console.log(item) }) %> -->
  </li>
