<% if(taskList && taskList.length) {%>
<ul class="list">
  <span class="list__item-text">Get: </span>
  <% taskList.forEach(function ({ task }) {%>
  <li>
    <form class="list__item" method="post">
      <!-- <div class="checkbox"></div> -->
      <input name="done" type="checkbox" class="checkbox" value="<%=task%>" />
      <!-- <span style="margin-left: 10px"><%= task %></span> -->
      <label for="done"><%= task %></label>
    </form>
  </li>
  <%})%>
</ul>
<%} else {%>
<h3 class="no-tasks">There is no tasks.</h3>
<%}%>
