<main class="main">
  <div class="task-form">
    <form method="POST" action="/">
      <input class="input" type="text" name="task" placeholder="I need to..." />
      <button class="task-form__button button" type="submit">Create</button>
    </form>

    <% if(status === 'error') {%>
    <div class="alert alert--error"><%= message %></div>
    <%} else if(status === 'success') {%>
    <div class="alert alert--success"><%= message %></div>
    <%}%>
  </div>

  <h2>Todo List</h2>

  <%- include ('./partials/tasks'); %>
</main>
