<body>
  <main class="main">
    <div class="task-form">
      <form method="POST" action="/">
        <input
          class="input"
          type="text"
          name="task"
          placeholder="I need to..."
        />
        <button class="task-form__button button" type="submit">Create</button>
      </form>

      <div class="alert alert--error">Invalid task!</div>

      <div class="alert alert--success">Task was added!</div>
    </div>

    <h2>Todo List</h2>

    <h3 class="no-tasks">There is no tasks.</h3>

    <ul class="list">
      <li class="list__item">
        <div class="checkbox"></div>
        <span class="list__item-text">Get</span>
      </li>
    </ul>
  </main>
</body>
